.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 5px 50px 5px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
    margin: 0px auto;
    padding: 20px 5px 20px 5px;

}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: linear-gradient(to left, #b2fefa, #0ed2f7);
}

.address{
    font-size: 80%;
    margin: 0px;
    color: black;
}
body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: #222831;
}

.tab-content{
    border-left: 1px solid  #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel{
    background:#c9d6ff;
}
.carousel-item{
    height: 300px;

}
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    height: 300px;
    width: auto;
}
#carouselButton{
    right: 0;
    position: absolute;
    bottom: 0;
 
}
#carouselButton button{
    background-color: transparent;
    color:#2c2f33;
}